.home {
  max-width: 100vw;
  overflow-x: hidden;
}

.black-bg {
  background-color: black;
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: -80px;
  top: -100px;
  transform: rotate(10deg);
  z-index: -3;

  img {
    max-width: 450px;
    position: absolute;
    top: 20%;
    right: 7.5%;
    transform: rotate(-10deg);
  }
}

.home-content {
  margin-top: 150px;
  margin-left: 10%;

  h3 {
    font-size: 40px;
    margin-bottom: 54px;
  }

  h1 {
    font-size: 70px;
  }

  p {
    color: #909090;
  }
}

.icon-box {
  display: flex;
  align-items: center;
  margin-top: 100px;
  column-gap: 30px;

  img {
    width: 30px;
  }

  a {
    padding: 10px 12px;
    background-color: #c4c4c4;
    border-radius: 10px;
  }
}

.home-footer {
  position: absolute;
  bottom: 0;
  background-color: #1d1d1d;
  color: #ffff;
  padding: 54px 20px;
  display: flex;
  z-index: -2;
  width: 100vw;
  overflow: hidden;

  h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
    max-width: 1000px;
    text-align: justify;
    margin-bottom: 30px;
  }
}

.home-footer-right {
  font-size: 220px;
  color: black;
  border: 18px solid black;
  padding: 20px 50px;
  border-radius: 0 100px;
  position: absolute;
  right: 30px;
  bottom: -75px;
  transform: rotate(25deg);
  z-index: -1;
}

@media screen and (max-width: 470px) {
  .home {
    color: #fff;

    h3,
    h1 {
      text-align: center;
      margin: 0;
    }
  }
  .black-bg {
    display: none;
  }
  .home-footer {
    position: relative;
    z-index: 0;
  }
  .home-content {
    background-image: url("../../../assets/img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-left: 0;
    padding-top: 250px;
    margin-top: 0;

    p {
      text-align: center;
      margin-top: 30px;
    }
  }
  .icon-box {
    justify-content: center;
    margin-top: 200px;
  }
}
