@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7d7d7;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto";
}

@media screen and (max-width: 470px) {
}
